<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>TODO LIST</title>
    <link rel="stylesheet" href="dist/css/app.css">
    <script src="https://use.fontawesome.com/e3ae05b8e6.js"></script>
</head>
<body>

<div class="main">
    <h1 class="mainTitle">TODOS</h1>

    <section class="section">
        <div id="app1">
            {{ message }}
        </div>
    </section>

    <section class="section">
        <div id="app2">
            <span v-bind:title="time" :class="classObject">
                この文字にホバーすると、spanタグの属性に現在時刻が表示される
            </span>
        </div>
    </section>

    <section class="section">
        <div id="app3">
            <span v-if="isShow">
                v-ifを使うと、domの表示・非表示が簡単に操作できる。非表示の場合はdom自体存在しないため注意が必要！
            </span>
        </div>
    </section>

    <section class="section">
        <div id="app4">
            <ol>
                <li v-for="todo in todos">
                    {{todo.text}}
                </li>
            </ol>
        </div>
    </section>

    <section class="section">
        <div id="app5">
            <p>{{ message }}</p>
            <button v-on:click="changeMessage">
                メッセージを変更する
            </button>
        </div>
    </section>

    <section class="section">
        <div id="app6">
            <p>{{ message }}</p>
            <input type="text" v-model="message">
        </div>
    </section>

    <section class="section">
        <div id="app7">
            <span v-if=" isShow === 'a' ">v-if</span>
            <span v-else-if=" isShow === 'b' ">v-else-if はv-ifと同等の要素にしか使えない</span>
            <span v-else>v-else はv-ifと同等の要素にしか使えない</span>
        </div>
    </section>

    <section class="section">
        <div id="app8">
            <span v-show="isShow">v-showで表示したタグ</span>
            <span v-show="!isShow">v-showで見えなくなっただけのタグ（display:noneにしただけ）</span>
        </div>
    </section>

    <section class="section">
        <div id="app9">
            <input type="checkbox" v-model="isShow">
            <p>isShow: {{isShow}}</p>
            <p>showString: {{showString}}</p>
            <p>showStringMethod: {{showStringMethod()}}</p>
            <p>showStrigng2: {{showString2}}</p>
            <p>showStringMethod2: {{showStringMethod2()}}</p>
        </div>
    </section>

    <section class="section">
        <div id="app10">
            <p>{{script}}</p>
            <p v-html="script"></p>
        </div>
    </section>

    <style>
        .fade-enter-active, .fade-leave-active {
            transition: opacity .5s;
        }

        .fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */
        {
            opacity: 0;
        }
    </style>

    <section class="section">
        <div id="app11">
            <button v-on:click=" show = !show">
                Toggle
            </button>
            <transtion name="fade">
                <p v-if="show">hello</p>
            </transtion>
        </div>
    </section>

    <section class="section">
        <div id="app12">
            <button-counter></button-counter>
            <button-counter></button-counter>
            <button-counter></button-counter>
        </div>
    </section>

    <section class="section">
        <div id="app13">
            <blog-post title="このようにしてtitleプロパティを他のコンポーネンとに渡せます"></blog-post>
            <blog-post title="それぞれのコンポーネントにtitleのpropsを渡せます。"></blog-post>
            <blog-post title="reactのpropsと同じ機能です。"></blog-post>
        </div>
    </section>

    <section class="section">
        <div id="app14">
            <div id="blog-posts-events-demo">
                <div :style="{ fontSize: postFontSize + 'em'}">
                    <blog-post
                            v-for="post in posts"
                            v-on:enlarge-text="fontSizeScale()"
                            v-bind:key="post.id"
                            v-bind:post="post"
                    ></blog-post>
                </div>
            </div>
        </div>
    </section>
</div>

<script src="dist/js/bundle.js"></script>
</body>
</html>